In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data_Loading

In [29]:
df = pd.read_csv("credit_card_data.csv", encoding="UTF-8")

In [3]:
df.head()

,pop_cd,year,month,avg_score,avg_rat,city,sex,ages,population,num_opencard,...,monthly_installments_loan,monthly_insurance_loan,monthly_sbk_loan,loan_commitment,inst_rep_loanb,ls_rep_loanb,credit_loan,mortgage_loan,credit_card_payment,credit_card_installments_payment
0,L011,2016,1,812,2,서울,NaN,10대,55000,1.44,...,0,0,0,1120000,8210000,78020000,92170000,87260000,0,0
1,L011,2016,2,773,4,서울,NaN,10대,380000,1.71,...,510000,220000,1020000,680000,4660000,23300000,8260000,42410000,4000,1000
2,L011,2016,3,771,4,서울,NaN,10대,387000,1.75,...,490000,210000,1140000,640000,4370000,22930000,8300000,41710000,3000,1000
3,L011,2016,4,770,4,서울,NaN,10대,412000,1.76,...,510000,240000,1340000,510000,4770000,22160000,9460000,41040000,4000,1000
4,L011,2016,5,771,4,서울,NaN,10대,414000,1.75,...,490000,340000,1490000,640000,4740000,21960000,9660000,40850000,3000,1000

In [30]:
df['org_total_loan'] = df['monthly_bk_loan'] + df['monthly_cd_loan'] + df['monthly_installments_loan'] + df['monthly_insurance_loan'] +df['monthly_sbk_loan']
df['org_loan_amt_error'] = df['monthly_loan'] - df['org_total_loan']

In [31]:
df['by_total_loan'] = df['credit_loan'] + df['mortgage_loan'] 
df['by_loan_amt_error'] = df['monthly_loan'] - df['by_total_loan']

In [32]:
def divs_data_set(x):
    data_dvis_cd = None
    
    if(x[0] == "L"):
        data_dvis_cd = "region_age"
    elif (x[0] == "Y"):
        data_dvis_cd = "age_sex"
    else:
        data_dvis_cd = "Error"
    
    return data_dvis_cd

df['data_dvis_cd'] = df['pop_cd'].map(lambda x : divs_data_set(x))

In [35]:
region_age_df = df[df['data_dvis_cd']=="region_age"]
age_sex_df = df[df['data_dvis_cd']=="age_sex"]

In [36]:
region_age_df

,pop_cd,year,month,avg_score,avg_rat,city,sex,ages,population,num_opencard,...,ls_rep_loanb,credit_loan,mortgage_loan,credit_card_payment,credit_card_installments_payment,org_total_loan,org_loan_amt_error,by_total_loan,by_loan_amt_error,data_dvis_cd
0,L011,2016,1,812,2,서울,NaN,10대,55000,1.44,...,78020000,92170000,87260000,0,0,85790000,1560000,179430000,-92080000,region_age
1,L011,2016,2,773,4,서울,NaN,10대,380000,1.71,...,23300000,8260000,42410000,4000,1000,27790000,1120000,50670000,-21760000,region_age
2,L011,2016,3,771,4,서울,NaN,10대,387000,1.75,...,22930000,8300000,41710000,3000,1000,27120000,1060000,50010000,-21830000,region_age
3,L011,2016,4,770,4,서울,NaN,10대,412000,1.76,...,22160000,9460000,41040000,4000,1000,26910000,800000,50500000,-22790000,region_age
4,L011,2016,5,771,4,서울,NaN,10대,414000,1.75,...,21960000,9660000,40850000,3000,1000,26920000,700000,50510000,-22890000,region_age
5,L011,2016,6,771,4,서울,NaN,10대,410000,1.75,...,21380000,9470000,40130000,4000,2000,26300000,720000,49600000,-22580000,region_age
6,L011,2016,7,772,4,서울,NaN,10대,407000,1.75,...,20230000,8790000,38970000,4000,2000,24870000,930000,47760000,-21960000,region_age
7,L011,2016,8,772,4,서울,NaN,10대,403000,1.75,...,20400000,9660000,40770000,4000,2000,25500000,980000,50430000,-23950000,region_age
8,L011,2016,9,772,4,서울,NaN,10대,399000,1.74,...,20450000,10060000,41590000,5000,2000,25860000,1050000,51650000,-24740000,region_age
9,L011,2016,10,773,4,서울,NaN,10대,395000,1.73,...,20780000,9720000,43070000,4000,2000,26620000,1140000,52790000,-25030000,region_age
10,L011,2016,11,775,4,서울,NaN,10대,390000,1.71,...,21150000,9440000,43600000,4000,2000,27070000,900000,53040000,-25070000,region_age
11,L011,2016,12,775,4,서울,NaN,10대,387000,1.71,...,20590000,10040000,40750000,4000,2000,26080000,990000,50790000,-23720000,region_age
12,L011,2017,1,776,4,서울,NaN,10대,386000,1.69,...,20360000,10150000,40510000,5000,2000,25970000,1020000,50660000,-23670000,region_age
13,L011,2017,2,774,4,서울,NaN,10대,355000,1.75,...,19730000,10220000,41130000,5000,2000,25460000,1470000,51350000,-24420000,region_age
14,L011,2017,3,772,4,서울,NaN,10대,360000,1.78,...,20460000,10430000,43390000,5000,2000,26710000,1400000,53820000,-25710000,region_age
15,L011,2017,4,772,4,서울,NaN,10대,378000,1.79,...,19280000,10890000,42370000,5000,2000,26110000,1350000,53260000,-25800000,region_age
16,L011,2017,5,773,4,서울,NaN,10대,379000,1.79,...,18920000,10140000,41170000,5000,2000,24940000,1240000,51310000,-25130000,region_age
17,L011,2017,6,773,4,서울,NaN,10대,375000,1.79,...,26320000,10010000,55070000,5000,2000,32260000,1090000,65080000,-31730000,region_age
18,L011,2017,7,774,4,서울,NaN,10대,371000,1.79,...,27200000,10360000,56640000,5000,2000,33090000,1420000,67000000,-32490000,region_age
19,L011,2017,8,774,4,서울,NaN,10대,368000,1.79,...,22410000,10510000,40250000,5000,2000,27710000,1070000,50760000,-21980000,region_age
20,L011,2017,9,774,4,서울,NaN,10대,366000,1.78,...,20060000,10530000,36400000,6000,2000,25680000,770000,46930000,-20480000,region_age
21,L011,2017,10,775,4,서울,NaN,10대,362000,1.77,...,20720000,10520000,38640000,5000,2000,26460000,660000,49160000,-22040000,region_age
22,L011,2017,11,776,4,서울,NaN,10대,355000,1.76,...,22590000,10050000,42270000,5000,2000,28080000,720000,52320000,-23520000,region_age
23,L011,2017,12,777,4,서울,NaN,10대,352000,1.76,...,23470000,9640000,44760000,5000,2000,28630000,990000,54400000,-24780000,region_age
24,L021,2016,1,811,2,인천,NaN,10대,17000,1.29,...,4840000,0,4970000,0,0,4970000,0,4970000,0,region_age
25,L021,2016,2,767,4,인천,NaN,10대,102000,1.65,...,5160000,6810000,18610000,4000,2000,12920000,1320000,25420000,-11180000,region_age
26,L021,2016,3,765,4,인천,NaN,10대,104000,1.68,...,5080000,7140000,17930000,4000,2000,12290000,1410000,25070000,-11370000,region_age
27,L021,2016,4,764,4,인천,NaN,10대,108000,1.72,...,5400000,7540000,19280000,5000,2000,13150000,1330000,26820000,-12340000,region_age
28,L021,2016,5,765,4,인천,NaN,10대,109000,1.72,...,5230000,8000000,19220000,5000,2000,13250000,1160000,27220000,-12810000,region_age
29,L021,2016,6,765,4,인천,NaN,10대,108000,1.72,...,5850000,7670000,17590000,5000,2000,11950000,1070000,25260000,-12240000,region_age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3810,L159,2017,7,816,3,경남,NaN,90대,10000,0.25,...,26780000,7830000,47310000,16000,5000,34520000,4910000,55140000,-15710000,region_age
3811,L159,2017,8,817,3,경남,NaN,90대,11000,0.25,...,28210000,7860000,47990000,15000,6000,35170000,5180000,55850000,-15500000,region_age
3812,L159,2017,9,817,3,경남,NaN,90대,11000,0.25,...,27660000,7840000,48570000,14000,6000,36100000,5090000,56410000,-15220000,region_age
3813,L159,2017,10,817,3,경남,NaN,90대,11000,0.25,...,27040000,10680000,47230000,14000,6000,35910000,4910000,57910000,-17090000,region_age
3814,L159,2017,11,817,3,경남,NaN,90대,11000,0.26,...,27540000,12320000,46940000,12000,6000,35820000,5070000,59260000,-18370000,region_age
3815,L159,2017,12,819,3,경남,NaN,90대,12000,0.26,...,27870000,12270000,46570000,11000,5000,35840000,5120000,58840000,-17880000,region_age
3816,L169,2016,1,767,3,제주,NaN,90대,2000,1.12,...,32360000,10680000,54920000,16000,9000,32420000,7430000,65600000,-25750000,region_age
3817,L169,2016,2,812,3,제주,NaN,90대,2000,0.21,...,34910000,12710000,51820000,8000,5000,32980000,10520000,64530000,-21030000,region_age
3818,L169,2016,3,812,3,제주,NaN,90대,2000,0.21,...,34560000,12570000,53620000,7000,8000,32510000,10780000,66190000,-22900000,region_age
3819,L169,2016,4,812,3,제주,NaN,90대,2000,0.21,...,34950000,12290000,55840000,192000,9000,32970000,10930000,68130000,-24230000,region_age
3820,L169,2016,5,813,3,제주,NaN,90대,2000,0.21,...,33180000,13150000,51940000,10000,9000,31920000,10420000,65090000,-22750000,region_age
3821,L169,2016,6,814,3,제주,NaN,90대,2000,0.21,...,32110000,13460000,51650000,11000,10000,30810000,10420000,65110000,-23880000,region_age
3822,L169,2016,7,814,3,제주,NaN,90대,2000,0.20,...,31550000,13730000,52230000,9000,6000,30130000,11180000,65960000,-24650000,region_age
3823,L169,2016,8,816,3,제주,NaN,90대,2000,0.21,...,31350000,14000000,51920000,12000,5000,30200000,10870000,65920000,-24850000,region_age
3824,L169,2016,9,816,3,제주,NaN,90대,2000,0.21,...,32060000,15180000,52570000,10000,9000,30440000,10920000,67750000,-26390000,region_age
3825,L169,2016,10,817,3,제주,NaN,90대,2000,0.21,...,32600000,15260000,53340000,11000,6000,31230000,11090000,68600000,-26280000,region_age
3826,L169,2016,11,818,3,제주,NaN,90대,2000,0.21,...,26890000,15340000,45350000,12000,19000,26210000,11050000,60690000,-23430000,region_age
3827,L169,2016,12,817,3,제주,NaN,90대,2000,0.21,...,18990000,15250000,33560000,10000,8000,17400000,11400000,48810000,-20010000,region_age
3828,L169,2017,1,818,3,제주,NaN,90대,3000,0.22,...,19410000,24470000,30550000,16000,14000,17580000,11580000,55020000,-25860000,region_age
3829,L169,2017,2,813,3,제주,NaN,90대,2000,0.30,...,14190000,17490000,26670000,18000,8000,13710000,10410000,44160000,-20040000,region_age
3830,L169,2017,3,814,3,제주,NaN,90대,2000,0.31,...,13740000,17090000,27450000,16000,16000,14480000,9820000,44540000,-20240000,region_age
3831,L169,2017,4,813,3,제주,NaN,90대,2000,0.31,...,13370000,16490000,28050000,12000,5000,13970000,9540000,44540000,-21030000,region_age
3832,L169,2017,5,814,3,제주,NaN,90대,2000,0.32,...,12950000,15350000,27980000,12000,6000,13480000,9710000,43330000,-20140000,region_age
3833,L169,2017,6,814,3,제주,NaN,90대,2000,0.32,...,16610000,16300000,31740000,14000,10000,17090000,9710000,48040000,-21240000,region_age
3834,L169,2017,7,814,3,제주,NaN,90대,2000,0.32,...,18140000,17060000,32850000,14000,8000,18280000,9360000,49910000,-22270000,region_age
3835,L169,2017,8,810,3,제주,NaN,90대,2000,0.38,...,18960000,17060000,35400000,15000,7000,19020000,9930000,52460000,-23510000,region_age
3836,L169,2017,9,809,3,제주,NaN,90대,2000,0.41,...,18970000,17940000,34670000,18000,1000,20080000,9360000,52610000,-23170000,region_age
3837,L169,2017,10,809,3,제주,NaN,90대,2000,0.42,...,16000000,17940000,30240000,13000,8000,17240000,9610000,48180000,-21330000,region_age
3838,L169,2017,11,810,3,제주,NaN,90대,2000,0.43,...,31050000,17560000,51510000,15000,7000,32170000,9080000,69070000,-27820000,region_age
3839,L169,2017,12,811,3,제주,NaN,90대,2000,0.43,...,31270000,17040000,52120000,15000,12000,32110000,9320000,69160000,-27730000,region_age